* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  height: 100%;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  background: #0B2434;
}

.main-area {
  background-color: #F5F5F5;
  border-radius: 20px;
  width: 100%;
  height: 100%;

  max-width: 400px;
  max-height: 600px;

  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.top-text > h1 {
  color: #2B283A;
  font-weight: 700;
  font-size: 3rem;
  line-height: 29.93px;
  letter-spacing: -3%;
  text-align: center;
  margin-bottom: 40px;
}

.top-text > p {
  color: #2B283A;
  font-family: Inter;
  font-weight: 400;
  max-width: 90%;
  margin: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -3%;
  text-align: center;

}

.dice {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  flex-grow: 1;
  height: 40%;
  gap: 10px; /* Space between buttons */
}

button {
  cursor: pointer;
  font-family: Inter, sans-serif;
  color: #2B283A;
}

.die {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

  color: #2B283A;
  font-weight: 700;
  font-size: 2rem;

}

button:active {
  transform: scale(0.95);  /* Slightly shrink the button */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);  /* Reduce the shadow */
}

.roll {

  background-color: blue;
  color: white;
  border: solid blue;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

  margin: auto;

  white-space: nowrap;
  font-size: 2rem;
  width: auto;
  padding: 20px 30px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;

}

/* Mobile-specific styles */
@media (max-width: 678px) {
  .main-area {
    padding: 50px 30px; /* Adjust padding for smaller screens */
  }
}
